<% provide(:title, "ドラマ一覧") %>
<%= render "shared/flash" %>
<div class="dark_color">
  <div class="layout_wide">
    <div class="list">
      <% @dramas.each do |drama| %>
        <div class="drama_list recommend_img img_50 img_30 img_20 img_10">
            <% if drama.image.attached? %>
              <%= link_to (image_tag drama.image, class: "drama_img", :alt => "dramas-img"), drama %>
            <% end %>
            <div class="color_gold name_size"><%= drama.name %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
