<% if comment.liked_by(current_user) %>
  <%= link_to comment_likes_path(comment, dramaid: drama.id), method: :delete, class: "like_btn", remote: true do %>
    <h4><span class="heart_red"></span> <%= comment.likes.count %></h4>
  <% end %>
<% else %>
  <%= link_to comment_likes_path(comment, dramaid: drama.id), method: :post, class: "no_like_btn", remote: true do %>
    <h4><span class="heart_white"></span> <%= comment.likes.count %></h4>
  <% end %>
<% end %>
