// Place all the styles related to the admin::dramas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.link_wide{
  width: 35px;
}
.drama_name_wide{
  width: 500px;
}
.admin_index td{
  padding: 7px 20px 0 20px;
}
.admin_btn_position {
  text-align: end;
  padding-right: 30px;
}
