/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.drama_img {
  width: 180px;
  height: 250px;
  object-fit: cover;
  border: 2px solid #ffff00;
  margin-left: 10px;
}
.container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 600px){
  .container {
    flex-direction: row;
  }
}
.layout_back{
  background-color: #6353b3;
  width: 100%;
}
.dark_color{
  background-color: rgba(0,0,0,0.4);
}
.white_color {
  background-color: rgba(255,255,255,0.8);
}
.color_gold {
  background-image: linear-gradient(0deg, #b8751e 0%, #ffce08 37%, #fefeb2 47%, #fafad6 50%, #fefeb2 53%, #e1ce08 63%, #b8751e 100%);
  -webkit-background-clip: text;
  color: transparent;
}
.font_white{
  color: #fff;
}
.font_purple{
  color: #6353b3;
}
.layout_wide {
  padding: 60px;
  justify-content: center;
  display: flex;
  margin: 60px;
}
.text_center{
  text-align: center;
}

.layout_position {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  padding: 30px 0;
}
.layout_item_back{
  padding: 20px;
  border-radius: 10px;
  width: 400px;
}

.field_size{
  width: 267px;
  border-color: #6353b3;
  margin: 3px 0;
  border-width: 1px;
  border-style: groove;
  height: 20px;
}
.btn{
  display: inline-block;
  text-align: center;
  user-select: none;
  padding: 8px 40px;
  font-size: 15px;
  border-radius: 10px;
}
.btn_color{
  color: #fff;
  background-color: #6353b3;
  border: none;
}
.padding_position{
  padding: 10px;
  line-height: 30px;
}
.outer{
  text-align: center;
}
.inner{
  display: inline-block;
  text-align: left;
}
.check_box_position
{
  margin-right: 140px;
  margin-bottom: 10px;
}
