// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.admin_btn_position {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.admin_btn{
  width: 120px;
  height: 70px;
  margin: 10px;
}
.btn_padding{
  padding-top: 25px;
}
